// Colors
//will change when populating actual content - colors taken from template
$blue: rgb(17,22,144);
$purple: rgb(101,49,190);
$orange: rgb(237,111,45);
$green: rgb(141,200,61);
$red: rgb(222,71,56);
$white: rgb(255,255,255);

// font sizes
$xlarge: 1.5rem;
$large: 1.25rem;
$medium: 1rem;
$small: .75rem;
