// Colors
//@import "bourbon"; in node_modules but errors
$white: #ffffff;
$black: #000000;
$xd-outline: #d8d8d8;
$xd-outter: #f2f4f7;
$xd-inner: #f3f3f3;
$xd-text: #707070;
$xd-linkedin: #006b9d;
$red: #F1352B;
$font-fam: arial, helvetica, sans-serif;// cursive;


$base-color:       $xd-linkedin;
$darken-color:     darken( $base-color, 20% );
$lighten-color:    lighten( $base-color, 1% );
$saturate-color:   saturate( $base-color, 50% );
$desaturate-color: desaturate( $base-color, 20% );
$hue-color:        adjust-hue( $base-color, 50% );
$opacity-color:    rgba( $base-color, .5 );
//need bourbon
//$tint-color:       tint( $base-color, 50% );
//$shade-color:      shade( $base-color, 50% );
